.section-div {
    max-width: 800px;
    width: 90%;
    margin: 40px auto;
    font-family: sans-serif;
    padding: 5px 5px 40px 10px;
    box-sizing: border-box;
}

/* todos os elementos p da classe section-div */
.section-div p {
    line-height: 1.6;
    margin-bottom: 25px;
    text-align: justify;

}


#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 100px;
}


#carreira {
    display: flex;
    align-items: center;
    justify-content: center;
}


#projetos {
    display: flex;
    align-items: center;
    justify-content: center;

}

#projetos a {
    text-decoration: none;
    line-height: 1.6;
}

/* conceito de selecionar o id contato e pegar todas as tags a que ele possui para estilizar somente elas com algo especifico */
#contato a {
    text-decoration: none;
    line-height: 1.6;
}

#contato:hover a {
    text-decoration: underline;
    color: #004185;
}

/* adicionando a pseudoclasse hover para animacao das ancoras */
#projetos a:hover {
    text-decoration: underline;
    color: #004185;
}

.itens {
    text-align: justify;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;

}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;

}

.menu {
    background-color: rgb(73, 89, 104);
    height: 50px;
    border-radius: 5px;
}


.section-div ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* aqui o css procura pela classe section-efect que adiciono no elemento atraves do js*/
#sobre.section-efect .section-div,
#carreira.section-efect .section-div,
#projetos.section-efect .section-div,
#contato.section-efect .section-div {
    animation-name: section-highlight-fade;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

/* Keyframe para realizar a animacao da secao selecionada*/
@keyframes section-highlight-fade {
    from {
        background-color: #F8F9FA;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    to {
        background-color: transparent;
    }
}

/* para adicionar as linhas de separacao, exceto na ultima secao*/
section:not(:last-of-type) .section-div {
    border-bottom: 1px solid #e0e0e0;
}

main {
    background-color: #EDF2F7;
}



footer {
    background-color: #F8F9FA;
    color: #6c757d;
    padding: 30px 20px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 10px;
}


footer p {
    text-align: center;
}